.utm-builder-container {
	margin-top: 12px;
}

.utm-builder-toggle.button-active {
	background-color: #0073aa;
	border-color: #00639b;
	color: #fff;
}

.utm-builder-fields {
	display: none;
	margin-top: 10px;
	padding: 10px 12px;
	background-color: #f8f9fb;
	border-radius: 4px;
	white-space: nowrap;
	overflow-x: auto;
}

.utm-builder-field {
	display: inline-block;
	vertical-align: bottom;
}

.utm-builder-field:last-child {
	margin-right: 0;
}

.utm-builder-field label {
	display: block;
	font-weight: 600;
	margin-bottom: 4px;
}

.utm-builder-field input {
	/* width: 220px; */
	max-width: none;
	padding: 4px 6px;
	box-sizing: border-box;
	-webkit-border-radius: 0px;
  border-radius: 0px;
	border: 1px solid #88c0eb;
}

.utm-builder-required {
	color: #d63638;
	margin-left: 4px;
	font-weight: 600;
}

.utm-builder-error input {
	border-color: #d63638;
}

.utm-builder-help {
	display: none;
	margin-top: 8px;
	color: #555;
	font-size: 0.9em;
}

.edit-row .utm-builder-container {
	margin-top: 16px;
}
